[Unit]
Description=mongodb_exporter for delivering metrics for Prometheus
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User={{ mongodb_exporter.service_user }}
Group={{ mongodb_exporter.service_group }}
ExecStart={{ mongodb_exporter.bin_dir }}/mongodb_exporter \
{% if mongodb_exporter.tls -%}
-mongodb.tls -mongodb.tls-ca {{ mongodb_exporter.tls_ca }}
{%- endif %}
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
